<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flakesoup.uc.mapper.UserMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="baseResultMap" type="com.flakesoup.uc.api.entity.User">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="mobile" property="mobile"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<select id="getUserByName" resultMap="baseResultMap">
		SELECT
		`user`.id,
		`user`.name,
		`user`.password,
		`user`.salt,
		`user`.mobile,
		`user`.create_time,
		`user`.update_time
		FROM
		`user`
		WHERE `user`.name = #{name}
	</select>

	<select id="getUserById" resultMap="baseResultMap">
		SELECT
		`user`.id,
		`user`.name,
		`user`.password,
		`user`.salt,
		`user`.mobile,
		`user`.create_time,
		`user`.update_time
		FROM
		`user`
		WHERE
		`user`.id = #{id}
	</select>

	<select id="getPageUsers" resultMap="baseResultMap">
		SELECT
		`user`.id,
		`user`.name,
		`user`.password,
		`user`.salt,
		`user`.mobile,
		`user`.create_time,
		`user`.update_time
		FROM
		`user`
		<where>
			<trim prefixOverrides="and">
				<if test="query.name != null and query.name != ''">
					and `user`.name LIKE CONCAT('%',#{query.name},'%')
				</if>
				<if test="query.mobile != null and query.mobile != ''">
					and `user`.mobile LIKE CONCAT('%',#{query.mobile},'%')
				</if>
				<!--<if test="query.create_time_start != null and query.create_time_start != ''">-->
					<!--and `user`.create_time >= #{query.create_time_start}-->
				<!--</if>-->
				<!--<if test="query.create_time_end != null and query.create_time_end != ''">-->
					<!--and #{query.create_time_end} >= `user`.create_time-->
				<!--</if>-->
			</trim>
		</where>
		ORDER BY `user`.create_time DESC
	</select>
</mapper>
